In [1]:
## Q1= for loop is used When the number of iterations is already known and while loop is used When the number of iterations is already unknown.

In [2]:
## for loop

In [3]:
l = [1,2,3,4,5]
for i in l :
    print(i)

1
2
3
4
5

In [4]:
## while loop

In [5]:
i = 1
while i <=5:
    print(i)
    i = i +1

1
2
3
4
5

In [6]:
## Q2 =

In [3]:
## using for loop
sum = 0
for i in range(1,11):
    sum = sum +i
print(sum)

55

In [4]:
## using while loop 
i = 1
sum = 0 
while i <=10:
    sum = sum +i
    i = i +1
print(sum)

55

In [6]:
## Q3 =

In [9]:
unit = int(input('unit'))
if unit <=100:
    print('bill',unit*4.5)
elif unit >100 and unit <=200:
    a = (unit - 100)*6 + 100 *4.5
    print('bill',a)
elif unit > 200 and unit <=300:
    b = (unit - 200)*10 + 100 *6 +100 *4.5
    print('bill',b)
    
elif unit >300:
    c = (unit - 300)*20 + 100 *10 +100 *6 +100 *4.5
    print('bill',c)
else:
    print('nv')

unit 310

bill 2250.0

In [10]:
## Q4 =

In [11]:
## using for loop 
l1 = []
for i in range (1,101):
    cube = i*i*i
    if i %4 == 0 or i %5 ==0:
        l1.append(i)
l1

[4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100]

In [12]:
i = 1
l1 = []
while i <=100:
    cube = i*i*i
    if i %4 == 0 or i %5 ==0:
        l1.append(i)
    i = i +1    
l1

[4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100]

In [13]:
s = "I want to become a data scientist"
r = s.lower()
count = 0 
for i in r :
    if i in ('a','e','i','o','u'):
        count = count +1
count

12